$font-sizes: (
  'font-size-xsmall'   : calc(7px + .3vw),
  'font-size-small'    : calc(8px + .3vw),
  'font-size-regular'  : calc(8px + .6vw),
  'font-size-medium'   : calc(8px + .9vw),
  'font-size-large'    : calc(1rem + 1vw),
);

/********  Return Value Of Font-Size  *********/
@function font-size($font-size-style) {
  @return map-get($font-sizes, $font-size-style)
}

;
/********  Set Font-Size & Font-Weight  *********/
@mixin font($font-size-style, $font-weight-style: 500) {
  font-size: font-size($font-size-style);
  font-weight: $font-weight-style;
}
